<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>New Book Item</title>
</head>

<body>
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Book Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="title">Title:</label>
					<input name="title" input type ="text" maxlength="50" class="form-control" title="title"placeholder="Book Title">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the book"></textarea>

					<label for="author">Author:</label>
					<input name="author" input type ="text" maxlength="50" class="form-control" name="author"placeholder="Author">

					<label for="coverUrl">URL:</label>
					<input name="coverUrl" input type ="text" maxlength="80" class="form-control" name="coverUrl"placeholder="URL Address">

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
					</div>
					<label for="edition">Edition:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="edition" id="edition1" value="eBook" required>eBook
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="edition" id="edition2" value="hardcover" required>hardcover
					  </label>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
</body>
</html>
